code {
  white-space: pre;
}

.status h1 {
  font-size: 10em;
  text-align: center;
}

.status h1,h2,h3,h4,h5 {
  color:white;
  text-align:center;
}

.stall-list {
  list-style: none;
  padding: 1em;
}

.stall-item {
  padding: 1em 2em;
  border: 4px solid white;
  border-radius: 5px;
  margin-bottom: 1em;
  min-height:75px;
  h1 {
    color: white;
    margin:0;
    float:left;
  }
}

.stall-status {
  font-size: 3em;
  margin-top: -10px;
}

.stall-item.unavailable {
  background-color: #FF4747;
}

.ui-keyboard {
  background: #A351F4;
  box-shadow: 11px 11px 35px black;
  border: 1px black;
  border-radius: 10px; 
}

.ui-keyboard-button {
  /*background: #BFBDC0;*/
  background: linear-gradient(gray, white, gray);
  border: 1px solid black;
  margin: 1px;
  border-radius: 4px;
  box-shadow: 1px 1px 11px gray; 
}

.ui-keyboard-button:active {
  background: white;
  border: 1px solid white;
}

/*.ui-keyboard-C, .ui-keyboard-9, .ui-keyboard-6, .ui-keyboard-3 {
  margin: 5px;
}*/